<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @upcoming.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @upcoming.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @upcoming.details %>
</p>


<%= link_to 'Back', upcomings_path %>
