<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @pgm.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pgm.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @pgm.details %>
</p>

<%= link_to 'Back', pgms_path %>
