<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @upcoming.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @upcoming.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @upcoming.details %>
</p>

<%= link_to 'Edit', edit_upcoming_path(@upcoming) %> |
<%= link_to 'Back', upcomings_path %>
