<nav id="main_nav" role="navigation">
<ul>
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Abouttheclub", abouttheclub_path %></li>
<li><%= link_to "Jointheclub", jointheclub_path %></li>
<li><%= link_to "Whatyouneed", whatyouneed_path %></li>
<li><%= link_to "Programme", pgms_path %></li>
  <li><%= link_to "Newsletters", newsletts_path %></li>
<li><%= link_to "Clubmatter", clubmatter_path %></li>
<li><%= link_to "Howtogetthere", howtogetthere_path %></li>
<li><%= link_to "Bookalawn", bookalawn_path %></li>
<li><%= link_to "Linkstosite", linkstosite_path %></li>
</ul>
</nav>
